footer{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 70px 0px 70px;
    background-color: #eef0f1;
    border-top: solid #bbbbbb;
}
.containerText{
    padding: 15px;
    margin: 30px;
}

.dostavka{
    width: 505px;
}

.sityText{
    font-size: 13px;
    line-height: 16px;
}